<!DOCTYPE html>
<html>
    <header>
      <!-- Make site responsive on mobile/tablet -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Yelp Camp</title>
        <link rel="stylesheet" type="text/css" href="/dist/semantic.min.css">
        <link rel="stylesheet" href="/stylesheets/main.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
         <script src= "https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
         <script type = "text/javascript" src="/dist/semantic.min.js"></script>
         <script type = "text/javascript" src ="/jqueryCode/jquery.js"></script>
    </header>
    <body>
      
      <div class = "ui grid">
        <div class = "tablet mobile only row">
  <div class = "column">
    <div class="ui sidebar inverted vertical menu">
      <a class="item">Home page</a>
      <a class="item">View campground</a>
      <a class="item">Add campground</a>
      
  </div>
   
 
    <div id = "small-menu" class = "item">
      <div id = "toggle" class = "ui black label">
        <i class = "sidebar icon"></i>
        Menu
      </div>
  </div> 
</div>
</div>
<div class = "pusher"></div>
        <div class = "computer only row">
          <div class = "column">
                <div class="ui grey inverted menu">
                    <a class="active item" href = "/">
                    Home
                    </a>
                    <a class="item" href = "/campground/new">
                    Post new campground
                    </a>
                    <a class="item" href = "/campground">
                    View campgrounds
                    </a>
                    <div class="right menu">
                    <% if(!currentUser) { %>
                    <a class = "ui item" href =  "/register">
                    <i class="user plus icon"></i>
                    Sign up
                    </a>
                    <a class = "ui item" href = "/login">
                    <i class="sign in alternate icon"></i>
                    Login
                    </a>
                      <% } else { %>
                      <a class = "ui item" href = "/user/<%= currentUser._id%>">
                        Welcome &nbsp;<%= currentUser.displayname%>
                      </a>
                      <form action = "/campground" method = "GET">
                        <div class="ui right aligned category search item">
                        <div class="ui transparent icon input">
                          <input class="prompt" name = "search" type="text" placeholder="Search campgrounds">
                          <button class = "ui small basic icon button">
                            <i class="search link icon"></i>
                          </button>
                        </div>
                        </div>
                      </form>
                      <a class="ui item" href = "/logout">
                        <i class="sign out alternate icon"></i>
                        Logout
                      </a>
                      <% } %>
                     </div>
                   </div>
                  </div>
                  </div>



        
</div>


<div class = "ui grid">
  <div class = "row">
    <div class = "sixteen wide column">
      <%  if(error && error.length > 0) {%>
      <div class="ui warning message">
        <i class="close icon"></i>
         <% error.forEach(function(err){ %>
      <ul class="list">
        <li><%= err %></li>
      </ul>
      <% })%>
</div>
   <% } else if (success && success.length > 0){ %>
     <div class="ui positive message">
      <i class="close icon"></i>
      <ul class="list">
        <li><%= success %></li>
  </ul>
</div>
<% } %>
</div>
</div>

</div>

 

   