<% include ../partials/header %>

<div class = "ui grid container">
    <div class = "ui two column centered grid">
              <h1>Edit comment</h1>
                <div class = "column">
                    <form id = "comment" class = "ui large form" action = "/campground/<%= campground_id %>/comments/<%=comment._id%>?_method=PUT" method = "POST">
                <div class = "field">
                    <label>Comment</label>
                    <textarea name = "comment[text]"  rows = "2"><%= comment.text%></textarea>
                </div>
                
                <div class = "ui two column centered grid">
                    <div class = "eight column centered row">
                        <button class="ui teal button" type="submit">Submit</button>
               </div>
               </div>
             </form>
         </div>
    </div>
</div>