<!DOCTYPE html>
<html>
    <header>
        <link rel="stylesheet" type="text/css" href="/dist/semantic.min.css">
         <script src= "https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
         <script type = "text/javascript" src="/dist/semantic.min.js"></script>
         <script type = "text/javascript" src ="/jqueryCode/jquery.js"></script>
    </header>
    <body>
       <div class = "ui container">
    <h1>This will be a landing page soon!!</h1>

    <p>Welcome to Yelp Camp!</p>

    <a href = "/campground/new">Create new Camp ground</a><br>
    <a href = "/campground">View Camp grounds!</a>

</div> 
    </body>
</html>



