
<% include partials/header %>
<div class = "ui container">
    <h1>This will be a landing page soon!!</h1>

<p>Welcome to Yelp Camp!</p>

<a href = "/campground/new">Create new Camp ground</a><br>
<a href = "/campground">View Camp grounds!</a>
<% include partials/footer %>
</div>

