<% include ./partials/header %> <!--you can also use it as partials/header-->

<div class = "ui grid container">
    <div class = "ui two column centered grid">
              <h1>Create an account</h1>
                <div class = "column">
                    <form id = "register" class = "ui large form" action = "/register" method = "POST" enctype = "multipart/form-data">
                 <div class="field">
                    <label>First Name</label>
                    <input type="text" name="firstName" placeholder="First name">
                </div>
                 <div class="field">
                    <label>Last Name</label>
                    <input type="text" name="lastName" placeholder="Last name">
                </div>
                 <div class="field">
                    <label>Avatar</label>
                    <input type="file" name="avatar" accept = "image/*">
                </div>
                 <div class="field">
                    <label>Username</label>
                    <input type="text" name="displayname" placeholder="username">
                </div>
                 <div class="field">
                    <label>Email</label>
                    <input type="email" name="email" placeholder="Email">
                </div>
                <div class = "field">
                    <label>Bio</label>
                    <textarea name= "bio"></textarea>
                </div>
                <div class = "field">
                    <label>Password</label>
                    <input type="password" name="password" placeholder="password">
                </div>
                <div class = "field">
                    <label>Admin Code</label>
                    <input type="text" name="adminCode" placeholder="admin code">
                </div>
                <div class = "ui two column centered grid">
                    <div class = "eight column centered row">
                        <button class="ui teal button">Sign up</button>
               </div>
               </div>
             </form>
         </div>
    </div>
</div>



